<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124715818141-q2jupp9nihid4h0sccdnku8969hfibvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124715818141-q2jupp9nihid4h0sccdnku8969hfibvv</string>
	<key>API_KEY</key>
	<string>AIzaSyC9fSVJPASU4WhoOr0Kuo9mfA1MCfAGfd0</string>
	<key>GCM_SENDER_ID</key>
	<string>124715818141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hongzhi.Pet</string>
	<key>PROJECT_ID</key>
	<string>regis-be1bf</string>
	<key>STORAGE_BUCKET</key>
	<string>regis-be1bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124715818141:ios:eceb86c8ce2f76b44f8874</string>
</dict>
</plist>